.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sky {
    background-color: #17AEB8;
    /* border: 1px solid black; */
    height: 300px;
    width: 100%;
}

.cloud_block {
    position:relative;
    height: 100%;
    width:100%;
}

.cloud {
    display: block;
    position:absolute;
    top:45vh;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}