.container {
    display: block;
    margin: 0 auto;
    width: 80%;
}


.weather {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "A B"
    "C B"
    ;
    gap: 30%;
    justify-items: center;
}

@media (max-width: 771px) {
    .weather {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "B"
        "A"
        "C"
        ;
        gap: 10%;
    }
}

.weather__temperature-image {
    grid-area: A;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.weather__wind-image {
    grid-area: C;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.weather__location {
    grid-area: B;
    width: 100%;
}

.weather_image {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.weather_value {
    font-size: 30px;
}

.weather__location__location-time {
    display: flex;
    flex-direction: column;
    
}

.location-time__time {
    font-size: 15px;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}

.location-time__location {
    display: inline-block;
    text-align: center;
}

.location_value {
    color:rgb(57, 121, 217);
    font-size: 30px;
}

.location_label {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}