.container {
    display: block;
    margin: 0 auto;
    width: 80%;
}


.weather {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "A B"
    "C B"
    ;
    gap: 10%;
    justify-items: center;
}

@media (max-width: 650px) {
    .weather {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "B"
        "A"
        "C"
        ;
    }
}

.weather__temperature-image {
    grid-area: A;
    width: 100%;
}

.weather__wind-image {
    grid-area: C;
    width: 100%;
}

.weather__location {
    grid-area: B;
    width: 100%;
}

.weather_image {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.weather_value {
    font-size: 30px;
}