{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center">Погода</h1>
    <form method="post" name="city" id="cityForm" action="/weather/select_city/">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput"
                placeholder="Moscow" , name="city_name">
            <label for="floatingInput">Введите название города</label>
            <input class="btn btn-primary mt-4" type="submit"
                value="Узнать погоду" id="sendCity" disabled>
        </div>
    </form>
    {% block result %}
    {% endblock %}
<script src="{{ url_for('static', path='/script/disableButtonWithEmptyInput.js') }}">
</script>
{% endblock %}