.no_weather {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "A B";
    gap: 5%
}

@media (max-width: 655px) {
    .no_weather {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "A"
        "B"
        ;
    }
    .no_weather__text {
        height: 40%;
    }
}

.no_weather__gopher_image {
    grid-area: A;
    display: flex;
    justify-content: center;
}

.no_weather__text {
    grid-area: B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.gopher_image__image {
    width: 200px;
}